/*Folha de Estilo*/

/* Resetando CSS */
* {margin: 0; padding: 0;}
body {font-family: Arial, Helvetica, sans-serif; color: #959595;}
a {text-decoration: none; color: #f71d1d}
a:hover {color: #900}
ul {list-style: none;}
h1, h2 {color: darkred;}

/* Globais */
.linha {width: 100%; float: left;}
.conteudo {width: 1024px; margin: 0 auto;}

/* Cabeçalho */
.cabecalho {padding: 10px 0;}
.cabecalho-logo {float: left;}
.cabecalho-logo h1 a {color: #959595;}
.html {color: #016fba}
.css {color: #e54d26;}
.cabecalho_menu {float: right; padding: 9px 0;}
.cabecalho_menu ul li a {display: inline-block; margin-left: 20px;}

/* Bem Vindo */
.bem_vindo {background-color: #ff6969; padding: 20px 0; text-align: center;}
.bem_vindo .conteudo {width: 620px;}
.bem_vindo .conteudo h1 {color: #fff;}

/* Main */
.main {padding: 30px 0;}
.main-menu {float: left; width: 160px; font-size: 18px;}
.main-menu h1 {font-size: 20px;}
.main-menu ul li {margin-top: 20px;}
.main-conteudo {float: right; width: 840px;}
.main-conteudo a {text-decoration: none;}
.main-conteudo a p {color: #959595;}
.main-conteudo a:hover h1 {text-decoration: underline;}
.main-conteudo a:hover p {text-decoration: underline;}
.main-conteudo h1 {font-size: 20px; margin: 10px 0;}
.main-conteudo p {margin-bottom: 28px;}

/* Últimos Artigos */
.artigos {padding: 30px 0; background-color: #faaffa;}
.artigos_titulo {font-size: 30px; color: #f71d1d; margin: 0 0 15px 0; border-bottom: 2px solid #f71d1d; padding-bottom: 5px;}
.artigos_coluna {float: left; text-align: justify; width: 30.66%; margin-right: 4%;}
.artigos_coluna:last-child {margin-right: 0;}
.artigos_coluna a {color: #900}
.artigos_coluna a:hover {text-decoration: underline;}
.artigos_coluna h2 {font-size: 20px; margin-bottom: 10px;}

/* Rodapé */
.rodape {text-align: center; padding: 20px 0;}