/* tbody > tr:hover {background-color: #ccc;} */
.link {color: red;}
.conteudoBackgrounde {background-color: blue; color: white;}
.tabela {width: 100%;}
.cabecalho {text-align: left;}
.linha {height: 30px;}